
.products {
    display: flex;
    flex-direction: column;
}
  
.product-group {
    display: flex;
    flex-direction: row;
  
    @include query (mobile){
        flex-direction: column;
    }
}
  
.product-item {
    display: flex;
    justify-content: center;
    align-items: center;
  
    flex-basis: (100%)/3;
}