body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-inline {
  width: 20%; 
  margin: 2%;
  display: inline-block !important;
}

.nav {
  /*background-color: #073a61;*/
  background-color: #0275d8;
}

.nav-p {
  color: white !important;
  padding-top: 0px;
  line-height: 10px; 
  cursor: pointer;
}

.nav-img {
  filter: brightness(0) invert(1);
  height: 20px;
}

.cart-size {
  display:inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background: #d9534f 
}

.cart-button{
  display:inline-block;
  margin-right: 10px;
}

.price{
  margin-left: 10px;
}

.card-preview {
  margin: 30px;
}

.h5-order {
  text-align: center;
  padding-top: 15px;
}

form {
  margin: 30px auto 0;
  max-width: 400px;
}

.form-inputs {
  margin-bottom: 15px;
}