body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.products {
  display: flex;
  justify-content: space-between;
  /*justify-content: space between;
  display:flex;
  flex-wrap:wrap;
  margin:0 auto;*/
}

@media screen and (min-width: 40em) {
  .product-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product-item {
    flex: 0 1 calc(50% - 1em);
  }
}

@media screen and (min-width: 60em) {
  .product-item {
    margin-top: 20px;
    flex: 0 1 calc(25% - 1em);
  }
}

.card {
  margin-top: 15px;
}

.nav {
  background-color: #0275d8;
}

.nav-p {
  color: white !important;
  padding-top: 0px;
  line-height: 10px; 
  cursor: pointer;
}

.nav-p:hover {
  text-shadow: 0 0 5px #ccc;
}

.nav-img {
  filter: brightness(0) invert(1);
  height: 20px;
}

.nav-img:hover {
  height: 20px;
  -webkit-filter: drop-shadow(0 0 5px #222);
  filter: drop-shadow(0 0 5px #222) brightness(0) invert(1);
}

.cart-size {
  display:inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background: #d9534f 
}

.cart-button{
  display:inline-block;
  margin-right: 10px;
}

.price{
  margin-left: 10px;
}

.card-preview {
  margin: 30px;
}

.h5-order {
  text-align: center;
  padding-top: 15px;
}

form {
  margin: 30px auto 0;
  max-width: 400px;
}

.form-inputs {
  margin-bottom: 15px;
}